.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  &__menu {
    display: flex;
    width: 100%;
  }

  &__items {
    display: flex;
    flex: 0 0 60%;
  }

  &__item {
    font-size: var(--fs-default);
    padding: 5px 8px;

    & a {
      padding: 5px 10px;
    }
  }

  &__cta {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  &__btn {
    border: none;
    cursor: pointer;
    font-size: var(--fs-default);
    color: var(--f-color-nav);
    background: transparent;
    padding: 5px 10px;
    &:hover {
      color: var(--f-color-nav-acitve);
    }
  }
}
